{% extends "layout.html" %}


{% block content%}
  <div class="contenido-hero pt-4">
    <h4 >Selecciona un Archivo</h4>
    <form id="formarchivo" action="uploader" method="post" enctype="multipart/form-data" class="">
      <div class="mb-3 row"> 
       <input type="file" name="myfile"  class="form-control"/>
       <div id="fileHelp" class="form-text">Tipo de Archivo Permitido .csv,.xls,.xlsx,.json </div>
      </div>
   <div class="mb-3 row">
     <button class="btn boton__princila" type="button"  name="submit"  id ="leerArchivo">Subir</button>
   </div>
 </form>
  </div>

  


<form action="" style="display: none;" id="form-resultado">
  <div class="mb-3 " style="text-align: center;">
    <h3>Contenido del Archivo</h3>
  </div>
  <div class="mb-3 ">
    <textarea class="form-control" id="resultado" rows="15"></textarea>
  </div>
  <div class="mb-3 ">
    <a class="btn boton__princila"  href="{{url_for('about')}}">Parametrizacion</a>
  </div>
</form>



<script>

// document.head.appendChild(generator.stylesAndScripts("https://cdn.jsdelivr.net/npm/latex.js@0.12.4/dist/"))

  var dataFrame = null;
  $("#leerArchivo").click(function (e) {

    localStorage.removeItem('Archivo');

    e.preventDefault();
    var form = $('form')[0];
    var formData = new FormData(form);
    formData.append('myfile', $('input[type=file]')[0].files[0]); 
     $.ajax({
      url: "/uploader",
      type: 'POST',
      data: formData,
      contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
      processData: false,
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function (response) {
        alert("Archivo Subido Correctamente Ve a Parametrizacion");
        //dataFrame = response[0];
        //document.getElementById("form-resultado").style.display = 'block'
        //$("#resultado").val(dataFrame)
        //console.log(response)
        localStorage.setItem('Archivo', response[1]);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert('Disculpe, existió un problema intetelo nuevamente');
      },
    });
  });
</script>
{%endblock%}