{% extends "layout.html" %}


{% block content%}
<!--<div class="row">
    <div class="col-6">
      <label class="form-label" for="customFile">Buscar</label>
      <input type="file" class="form-control" id="customFile" />
    </div>
    <div class="col-3">

    </div>
  </div>  -->


  <form id="formarchivo" action="uploader" method="post" enctype="multipart/form-data" class="">
       <div class="mb-3 col-6"> 
        <label  class="form-label">Cargar Archivo:</label>
        <input type="file" name="myfile"  class="form-control"/>
        <div id="fileHelp" class="form-text">Tipo de Archivo Permitido .csv,.xls,.xlsx,.json </div>
  
       </div>

    <div class="mb-3 ">
      <button class="btn btn-primary" type="button"  name="submit"  id ="leerArchivo">Subir</button>
    </div>
  </form>

<form action="" style="display: none;" id="form-resultado">
  <div class="mb-3 " style="text-align: center;">
    <h3>Contenido del Archivo</h3>
  </div>
  <textarea class="form-control" id="resultado" rows="15"></textarea>
</form>



<script>
  var dataFrame = null;
  $("#leerArchivo").click(function (e) {
    e.preventDefault();
    var form = $('form')[0];
    var formData = new FormData(form);
    formData.append('myfile', $('input[type=file]')[0].files[0]); 
    $.ajax({
      url: "/uploader",
      type: 'POST',
      data: formData,
      contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
      processData: false,
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function (response) {
        alert("Archivo Subido Correctamente ");
        dataFrame = response;
        document.getElementById("form-resultado").style.display = 'block'
        $("#resultado").val(dataFrame)
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert('Disculpe, existió un problema intetelo nuevamente');
      },
    });
  });
</script>
{%endblock%}