{% extends "layout.html" %}


{% block content%}
<!--<div class="row">
    <div class="col-6">
      <label class="form-label" for="customFile">Buscar</label>
      <input type="file" class="form-control" id="customFile" />
    </div>
    <div class="col-3">

    </div>
  </div>  -->

<div class="row">

  <form id="formarchivo" action="uploader" method="post" enctype="multipart/form-data" class="">
    <div class="col-6">
      Cargar Archivo: <input type="file" name="myfile"/>
    </div>
    <div class="col-6">
      <input class="btn btn-primary" type="button"  name="submit" value="Subir"  id ="leerArchivo"/>
    </div>    
  </form>
</div>

<script>
  $("#leerArchivo").click(function (e) {
    e.preventDefault();
    var form = $('form')[0];
    var formData = new FormData(form);
    formData.append('myfile', $('input[type=file]')[0].files[0]); 
    $.ajax({
      url: "/uploader",
      type: 'POST',
      data: formData,
      contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
      processData: false,
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function (response) {
        alert("Archivo Subido Correctamente");
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert('Disculpe, existió un problema intetelo nuevamente');
      },
    });
  });
</script>
{%endblock%}