{% extends "layout.html" %}

{% block content%}
<div class="contenido-hero">
    <h4 >Archivo a Analizar</h4>
    <span id ="TituloArchivo"></span>
    <a type="button" class="btn btn-danger btn-sm" href="{{url_for('home')}}">cambiar</a>
</div>
<form>   
    <div class="col-12">
        <label for="disabledTextInput" class="form-label">Prediccion A Realizar</label>
    </div>
    <div class="col-12">
        <select class="form-select" aria-label="Default select example" id="selectAnalisis">
            <option selected disabled>Escoja..</option>
            <option value="1">Tendencia de la infección por Covid-19 en un País.</option><!---->
            <option value="2">Predicción de Infectados en un País.</option> <!--**-->
            <option value="3">Indice de Progresión de la pandemia.</option>
            <option value="4">Predicción de mortalidad por COVID en un Departamento.</option> <!--**-->
            <option value="5">Predicción de mortalidad por COVID en un País.</option> <!--**-->
            <option value="6">Análisis del número de muertes por coronavirus en un País</option><!---->
            <option value="7">Tendencia del número de infectados por día de un País</option>
            <option value="8">Predicción de casos de un país para un año</option>
            <option value="9">Tendencia de la vacunación de en un País.</option> <!---->
            <option value="10">Ánalisis Comparativo de Vacunaciópn entre 2 paises</option><!---->
            <option value="11">Porcentaje de hombres infectados por covid-19 en un País desde el primer caso activo
            </option>
            <option value="12">Ánalisis Comparativo entres 2 o más paises o continentes.</option>
            <option value="13">Muertes promedio por casos confirmados y edad de covid 19 en un País</option>
            <option value="14">Muertes según region de un país - Covid 19</option> <!---->
            <option value="15">Tendencia de casos confirmados de Coronavirus en un departamento de un País</option> <!---->
            <option value="16">Porcentaje de muertes frente al total de casos en un país, región o continente</option>
            <option value="17">Tasa de comportamiento de casos activos en relación al número de muertes en un
                continente.</option>
            <option value="18">Comportamiento y clasificación de personas infectadas por COVID-19 por municipio en un
                País.</option>
            <option value="19">Predicción de muertes en el último día del primer año de infecciones en un país.</option>
            <option value="20">Tasa de crecimiento de casos de COVID-19 en relación con nuevos casos diarios y tasa de
                muerte por COVID-19</option>
            <option value="21">Predicciones de casos y muertes en todo el mundo - Neural Network MLPRegressor</option>
            <option value="22">Tasa de mortalidad por coronavirus (COVID-19) en un país.</option>
            <option value="23">Factores de muerte por COVID-19 en un país.</option>
            <option value="24">Comparación entre el número de casos detectados y el número de pruebas de un país.
            </option>
            <option value="25">Predicción de casos confirmados por día</option>
    </div>
    </select>
</form>

<div class="row mt-3">
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            Debe de Escoger en Orden las Columnas que utilizara y verificar que se haya colocado
            en el orden correcto para poder realizar un analisis Satisfactorio!
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12">
        <label for="disabledTextInput" class="form-label">Fecha de Inicio: </label>
        <input class="form-control" id="cmpfechanaInicio" name="cmpfechanaInicio" type="text" required="required"  readonly >
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
        <label for="disabledTextInput" class="form-label">Fecha Final:  </label>
        <input class="form-control" id="cmpfechanaFinal" name="cmpfechanaInicio" type="text" required="required"  readonly >
    </div>
</div>

-->


<!-- REPORTE NUMERO 1-->
<div class="row mt-4">
    <div class="col-xl-6 col-md-6 col-sm-12">
        <table id="tabla1" class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Columnas de la Data</th>
                </tr>
            </thead>
            <tbody id="tabla1body">
            </tbody>
        </table>
    </div>

    <!--Tendencia de Infectados Prediccion de casos en un pais-->
    
        <div class="col-xl-6 col-md-6 col-sm-12" id="tabla2visibiidad" style="display: none;">
            <table id="tabla2" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Pais</th>
                        <th scope="col">Numero de Casos</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="filatabla2">
                    </tr>
                </tbody>
            </table>
        </div>
    

   <!--Prediccion de Mortalidad en un Pais pais-->
    
   <div class="col-xl-6 col-md-6 col-sm-12" id="tabla3visibiidad" style="display: none;">
    <table id="tabla3" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Pais</th>
                <th scope="col">Numero de muertes</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla3">
            </tr>
        </tbody>
    </table>
</div>      

<!--Prediccion de Mortalidad en un Departamento pais-->
<div class="col-xl-6 col-md-6 col-sm-12" id="tabla4visibiidad" style="display: none;">
    <table id="tabla4" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Departamento</th>
                <th scope="col">Numero de muertes</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla4">
            </tr>
        </tbody>
    </table>
</div>   

<!--Prediccion de Mortalidad en un Departamento pais-->
<div class="col-xl-6 col-md-6 col-sm-12" id="tabla5visibiidad" style="display: none;">
    <table id="tabla5" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Pais</th>
                <th scope="col">Numero de vacunados</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla5">
            </tr>
        </tbody>
    </table>
</div>   

<div class="col-xl-6 col-md-6 col-sm-12" id="tabla6visibiidad" style="display: none;">
    <table id="tabla6" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Departamento</th>
                <th scope="col">Casos Confirmados</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla6">
            </tr>
        </tbody>
    </table>
</div>   


<div class="col-xl-6 col-md-6 col-sm-12" id="tabla7visibiidad" style="display: none;">
    <table id="tabla7" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Region</th>
                <th scope="col">Numero de Muertes</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla7">
            </tr>
        </tbody>
    </table>
</div>


<div class="col-xl-6 col-md-6 col-sm-12" id="tabla8visibiidad" style="display: none;">
    <table id="tabla8" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Paises</th>
                <th scope="col">Vacunas</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla8">
            </tr>
        </tbody>
    </table>
</div>


<div class="col-xl-6 col-md-6 col-sm-12" id="tabla9visibiidad" style="display: none;">
    <table id="tabla9" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Paises o Continentes</th>
                <th scope="col">Dato</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filatabla9">
            </tr>
        </tbody>
    </table>
</div>

</div>





<div class="row mt-3">
    
        <button id="btnConfirmarParam" type="button" class="btn boton__princila col-xl-6 col-md col-sm-12" onclick="ConfirmarParametrizacion()">Confirmar
            Parametrizacion</button>
    
</div>

<div class="row mt-3">
    <a id="btnResetAnalisis" type="button" class="btn btn-danger col-xl-6 col-md col-sm-12" href="{{url_for('about')}}" style="display: none;">
        Resetear</a>

</div>

<div id="ListaPaisesReporte1" style="display: none;"><!--DIV PARA PAISES-->
<div class="row mt-4" id="listaPaises">
    <div class="col-12">
        <h5>Lista Filtrada</h5>
    </div>
    <div class="col-xl-6 col-md col-sm-12">
        
        <select name="cmppaises" class="form-select" id="selectPaises">
            <option selected disabled hidden>Seleccione...</option>
        </select>
    </div>
    <div class="col-xl-6 col-md col-sm-12" style="display: none;" id="listaPaises2">
        
        <select name="cmppaises2" class="form-select" id="selectPaises2">
            <option selected disabled hidden>Seleccione...</option>
        </select>
    </div>
    </div>
    <div class="row" style="display: none;" id="FechaPrediccion">
        <div class="col-xl-6 col-md-6 col-sm-12">
            <label for="disabledTextInput" class="form-label">Fecha de Predicion: </label>
            <input class="form-control" id="cmpfechaPrediccion" name="cmpfechaPrediccion" type="text" required="required"  readonly >
        </div>
    </div>
    
    <div class="row mt-3" >
            <button id ="Analizar Parametros" type="button" class="btn boton__princila col-xl-6 col-md col-sm-12" onclick="AnalizarParametrosReporte1()">Analizar Parametros</button>
    </div>
</div>



<script>
    document.getElementById('TituloArchivo').innerHTML=localStorage.getItem('Archivo').toString();

    $("#cmpfechaPrediccion").datepicker({
            changeMonth: true,
            changeYear: true,
            format: 'dd/mm/yyyy',
            todayHighlight: true
    });

    /*$("#cmpfechanaFinal").datepicker({
            changeMonth: true,
            changeYear: true,
            format: 'dd/mm/yyyy',
            todayHighlight: true
    });*/


    $("#selectAnalisis").change(function () {
        document.getElementById("tabla2visibiidad").style.display = 'none'
        document.getElementById("ListaPaisesReporte1").style.display = 'none'
        document.getElementById("tabla3visibiidad").style.display = 'none'
        document.getElementById("tabla4visibiidad").style.display = 'none'
        document.getElementById("tabla5visibiidad").style.display = 'none'
        document.getElementById("tabla6visibiidad").style.display = 'none'
        document.getElementById("tabla7visibiidad").style.display = 'none'
        document.getElementById("tabla8visibiidad").style.display = 'none'
        document.getElementById("tabla9visibiidad").style.display = 'none'
        //localStorage.removeItem('Imagen');

        var cur_value = $(this).val();
        if (cur_value == 1  ||cur_value == 2) {
            //Tendencia de Infeccion por Covid 19
            console.log("Tendecia de Infecion por Covid en un Pais")
            //Obtengo las columnas del archivo Cargada
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla2visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla2");
                Table2.innerHTML = ""; 
                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }
            })
            //console.log(columnas);
        }//fin de los primeros dos reportes
        else if (cur_value == 5 || cur_value == 6) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla3visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla3");
                Table2.innerHTML = ""; 


                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }
        else if (cur_value == 4) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla4visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla4");
                Table2.innerHTML = ""; 

                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }
        else if (cur_value == 9) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla5visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla5");
                Table2.innerHTML = ""; 

                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }else if (cur_value == 15) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla6visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla6");
                Table2.innerHTML = ""; 

                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }
        else if (cur_value == 14) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla7visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla7");
                Table2.innerHTML = ""; 

                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }
        else if (cur_value == 10) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla8visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla8");
                Table2.innerHTML = ""; 

                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }
        else if (cur_value == 12) {
            //Prediccion de Mortalidad en un Pais
            var colum = getColumnas().then(columnas => {
                document.getElementById("tabla9visibiidad").style.display = 'block'
                var Table = document.getElementById("tabla1body");
                Table.innerHTML = "";
                var Table2 =  document.getElementById("filatabla9");
                Table2.innerHTML = ""; 

                for (var i = 0; i < columnas.length; i++) {
                    //$('#tabla1 tr:last').after(`<tr id="${columnas[i]}"><td>${columnas[i]}<input name="device" type="checkbox"></td></tr>`);
                    //Aqui agrego los campos de la tabla Leida
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.name = "device"
                    input.addEventListener("click", llamarOnClick, false)
                    $("#tabla1").find('tbody').append(`<tr><td id="${columnas[i]}">${columnas[i]}</td></tr>`);
                    var parent = document.getElementById(columnas[i]);
                    parent.appendChild(input)
                }

            })
        }

    });

    $('input:checkbox[name="device"]').click(function () {
        console.log("Entro")
        if ($(this).is(":checked")) {
            // el checkbox esta marcado
            // movemos la columna a la tabla2
            var tr = $(this).parents("td").appendTo("#tabla2 tbody tr:last");
            console.log("Entro")
        } else {
            // el checkbox esta desmarcado
            // movemos la columna a la tabla1
            //var tr=$(this).parents('td').appendTo(`#tabla1 tbody td`)
            $("#tabla1>tbody").append("<tr></tr>")
            var tr = $(this).parents("td").appendTo("#tabla1 tbody tr:last");
        }
    });



    function llamarOnClick() {
        if ($(this).is(":checked")) {
            // el checkbox esta marcado
            // movemos la columna a la tabla2
            if(($("#selectAnalisis").val() ==1 || $("#selectAnalisis").val() ==2 )){
                var tr = $(this).parents("td").appendTo("#tabla2 tbody tr:last");
            }else if($("#selectAnalisis").val() ==5 ||$("#selectAnalisis").val() == 6){
                var tr = $(this).parents("td").appendTo("#tabla3 tbody tr:last");
            }if($("#selectAnalisis").val() ==4){
                var tr = $(this).parents("td").appendTo("#tabla4 tbody tr:last");
            }if($("#selectAnalisis").val() ==9){
                var tr = $(this).parents("td").appendTo("#tabla5 tbody tr:last");
            }if($("#selectAnalisis").val() ==15){
                var tr = $(this).parents("td").appendTo("#tabla6 tbody tr:last");
            }if($("#selectAnalisis").val() ==14){
                var tr = $(this).parents("td").appendTo("#tabla7 tbody tr:last");
            }if($("#selectAnalisis").val() ==10){
                var tr = $(this).parents("td").appendTo("#tabla8 tbody tr:last");
            }if($("#selectAnalisis").val() ==12){
                var tr = $(this).parents("td").appendTo("#tabla9 tbody tr:last");
            }
            console.log("Entro")
        } else {
            // el checkbox esta desmarcado
            // movemos la columna a la tabla1
            $("#tabla1>tbody").append("<tr></tr>")
            var tr = $(this).parents("td").appendTo("#tabla1 tbody tr:last");
        }

    }


    async function getColumnas() {
        var columnas;
        await $.ajax({
            url: "/NombreColumnas",
            type: 'POST',
            //async: false,
            data: {
                filename: localStorage.getItem('Archivo')
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                columnas = response
                // console.log(columnas)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });

        return columnas;
    }

    var arr = [];
    function ConfirmarParametrizacion() {
        $("#btnConfirmarParam").prop('disabled', true);
        document.getElementById("btnResetAnalisis").style.display = 'block'

        var selectAnalisis = $("#selectAnalisis").val()

        if(selectAnalisis == 1 || selectAnalisis == 2 || selectAnalisis == 4 || selectAnalisis == 5 || selectAnalisis == 9 || selectAnalisis == 15
        || selectAnalisis == 14 || selectAnalisis == 6){
            var cells = Array.prototype.slice.call(document.getElementById("tabla2").getElementsByTagName("td"));
            if(selectAnalisis == 2){
                document.getElementById("FechaPrediccion").style.display = 'block'
            }

            if(selectAnalisis == 5 || selectAnalisis == 6){
                cells = Array.prototype.slice.call(document.getElementById("tabla3").getElementsByTagName("td"));
            }else if(selectAnalisis == 4){
                cells = Array.prototype.slice.call(document.getElementById("tabla4").getElementsByTagName("td"));
            }
            else if(selectAnalisis == 9){
                cells = Array.prototype.slice.call(document.getElementById("tabla5").getElementsByTagName("td"));
            }
            else if(selectAnalisis == 15){
                cells = Array.prototype.slice.call(document.getElementById("tabla6").getElementsByTagName("td"));
            }
            else if(selectAnalisis == 14){
                cells = Array.prototype.slice.call(document.getElementById("tabla7").getElementsByTagName("td"));
            }
        for (var i in cells) {
            console.log(cells[i].innerText);
            arr.push(cells[i].innerText)
        }
        
        $.ajax({
            url: "/Reporte1EnvioParametros",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo')
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //alert("Paises Cargados")
                var selectPaies = document.getElementsByName('cmppaises')[0];
                selectPaies.innerHTML = "";
                //Aqui es donde se muestra toda la parte de paises y la confirmacion para analizar
                document.getElementById("ListaPaisesReporte1").style.display = 'block'

                columnas = response
                //console.log(columnas)
                var select = document.getElementsByName('cmppaises')[0];
                for (value in columnas) {
                    var option = document.createElement("option");
                    option.text = columnas[value];
                    option.value = columnas[value];
                    select.add(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }//Primer reporte, segunfo
        else if(selectAnalisis == 10 || selectAnalisis == 12){
            var cells = Array.prototype.slice.call(document.getElementById("tabla8").getElementsByTagName("td"));
            if(selectAnalisis == 12){
                cells = Array.prototype.slice.call(document.getElementById("tabla9").getElementsByTagName("td"));
            }
        for (var i in cells) {
            console.log(cells[i].innerText);
            arr.push(cells[i].innerText)
        }
        $.ajax({
            url: "/Reporte1EnvioParametros",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo')
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //alert("Paises Cargados")
                var selectPaies = document.getElementsByName('cmppaises')[0];
                selectPaies.innerHTML = "";

                var selectPaies2 = document.getElementsByName('cmppaises2')[0];
                selectPaies2.innerHTML = "";
                //Aqui es donde se muestra toda la parte de paises y la confirmacion para analizar
                document.getElementById("ListaPaisesReporte1").style.display = 'block'
                document.getElementById("listaPaises2").style.display = 'block'
                listaPaises2
                columnas = response
                //console.log(columnas)
                var select = document.getElementsByName('cmppaises')[0];
                var select2 = document.getElementsByName('cmppaises2')[0];
                for (value in columnas) {
                    var option = document.createElement("option");
                    option.text = columnas[value];
                    option.value = columnas[value];
                    select.add(option);
                }
                for (value in columnas) {
                    var option = document.createElement("option");
                    option.text = columnas[value];
                    option.value = columnas[value];
                    select2.add(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }
      
        
    }

    function AnalizarParametrosReporte1(){
        localStorage.removeItem('Imagen');
        var selectAnalisis = $("#selectAnalisis").val()
        var selectPais = $("#selectPaises").val()
        $("#Analizar Parametros").prop('disabled', true);
        if(selectAnalisis ==1 ){
       
        $.ajax({
            url: "/AnalisisReporte1",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        } if(selectAnalisis ==2){
            selectDate = $("#cmpfechaPrediccion").val()
            $.ajax({
            url: "/AnalisisReporte2",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais,
                fecha : selectDate
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                localStorage.setItem('prediccion', response[6]);
                localStorage.setItem('fechaPrediccion', selectDate);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }else if(selectAnalisis ==5){
            $.ajax({
            url: "/AnalisisReporte5",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }else if(selectAnalisis ==4){
            $.ajax({
            url: "/AnalisisReporte4",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }else if(selectAnalisis ==9){
            $.ajax({
            url: "/AnalisisReporte9",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }
        else if(selectAnalisis ==15){
            $.ajax({
            url: "/AnalisisReporte15",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }
        else if(selectAnalisis ==14){
            $.ajax({
            url: "/AnalisisReporte14",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }
        else if(selectAnalisis ==6){
            $.ajax({
            url: "/AnalisisReporte6",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }
        else if(selectAnalisis ==10){
            $.ajax({
            url: "/AnalisisReporte10",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais,
                pais2: $("#selectPaises2").val()
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                localStorage.setItem('ecuacion2', response[6]);
                localStorage.setItem('descripcion2', response[7]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }else if(selectAnalisis ==12){
            $.ajax({
            url: "/AnalisisReporte12",
            type: 'POST',
            data: {
                columnas: JSON.stringify(arr),
                filename: localStorage.getItem('Archivo'),
                pais: selectPais,
                pais2: $("#selectPaises2").val()
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                //document.getElementById('Imagen').innerHTML = response
                //alert(response)
                localStorage.setItem('Imagen', response[0]);
                localStorage.setItem('reporte', response[1]);
                localStorage.setItem('imgbase64', response[2]);
                localStorage.setItem('pais', response[3]);
                localStorage.setItem('ecuacion', response[4]);
                localStorage.setItem('descripcion', response[5]);
                localStorage.setItem('ecuacion2', response[6]);
                localStorage.setItem('descripcion2', response[7]);
                window.location = "{{url_for('reportes')}}";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Disculpe, existió un problema intetelo nuevamente');
            },
        });
        }
        
    }

</script>
{%endblock%}