{% extends "layout.html" %}

{% block content%}
<div class="row">
    <div class="col-12">
        <h1>REPORTE</h1>
    </div>
</div>

<div  class="row">
    <div class="col-12" id="Imagen">
        
    </div>
</div>
<script>
var pdf = new jsPDF();
pdf.setFontSize(24);
pdf.setFont("times");
pdf.text("Tendencia de la infección por Covid-19 ", 35, 45);
pdf.setFontSize(10);
pdf.setFontType("italic");
pdf.text("Universidad de San Carlos, Facultad de Ingeniería, Compilladores 2", 53, 55);
pdf.text("Carné 201503378, Escarleth Andrea Velasco Campos", 63, 60);

pdf.setFontType("bold");
pdf.text("Resumen-El siguiente reporte esta basado en los datos que se encuentran en el arvhivo proporcinado por el usuario",10,68)


pdf.save("reporte");


document.getElementById('Imagen').innerHTML = localStorage.getItem('Imagen').toString();
</script>
{%endblock%}